body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  color: #333333;
}

.wrapper.hidden {
  display: none;
}

.wrapper {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
  padding: 2% 2% 5%;
  background-color: #fbfbfb;
  -webkit-box-shadow: 2px 2px 20px 2px rgba(22, 22, 22, 0.253);
          box-shadow: 2px 2px 20px 2px rgba(22, 22, 22, 0.253);
  border-radius: 20px;
  -webkit-animation: fade-in .3s ease;
          animation: fade-in .3s ease;
}

@media (max-width: 1440px) {
  .wrapper {
    padding-bottom: 6.4%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 60%;
    padding-bottom: 10%;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 80%;
    padding-bottom: 15%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding-bottom: 20%;
    padding-top: 7.4%;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 100%;
    padding-bottom: 25%;
    padding-top: 7.4%;
  }
}

.wrapper h1 {
  text-align: center;
  margin: 0 0 5%;
}

.wrapper .taskList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 480px) {
  .wrapper .taskList {
    width: 100%;
  }
}

.wrapper .taskList .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 50px;
  line-height: 12px;
  margin: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size: 1.3em;
}

@media (max-width: 1440px) {
  .wrapper .taskList .task {
    line-height: 10px;
  }
}

@media (max-width: 480px) {
  .wrapper .taskList .task {
    line-height: 12px;
  }
}

@media (max-width: 380px) {
  .wrapper .taskList .task {
    line-height: 8px;
  }
}

.wrapper .taskList .task:hover {
  background-color: rgba(170, 169, 169, 0.192);
  cursor: pointer;
}

.wrapper .taskList .task:last-child {
  margin-bottom: 20px;
}

.wrapper .taskList .task p {
  margin-left: 1%;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.wrapper .taskList .task p.completed {
  color: #777777;
  text-decoration: line-through;
}

.wrapper .taskList .task .checkbox,
.wrapper .taskList .task .rmvBtn {
  margin: 3.2%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

@media (max-width: 1440px) {
  .wrapper .taskList .task .checkbox,
  .wrapper .taskList .task .rmvBtn {
    margin: 4%;
  }
}

@media (max-width: 480px) {
  .wrapper .taskList .task .checkbox,
  .wrapper .taskList .task .rmvBtn {
    margin: 4.5%;
  }
}

.wrapper .taskList .task .checkbox:hover,
.wrapper .taskList .task .rmvBtn:hover {
  -webkit-transform: scale(1.051);
          transform: scale(1.051);
}

.wrapper .taskList .task .checkbox:active,
.wrapper .taskList .task .rmvBtn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper .taskList .task .rmvBtn {
  position: absolute;
  right: 0%;
}

.wrapper .taskList .task .rmvBtn svg {
  margin: -2px 0px 0px -2px;
}

.wrapper .taskList .task .checkbox {
  border: 1px solid black;
}

.wrapper .taskList .task .checkbox svg {
  stroke: #22b33a;
  stroke-width: 1.8;
  fill: none;
  margin-bottom: -10px;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  -webkit-transition: stroke-dashoffset .2s linear;
  transition: stroke-dashoffset .2s linear;
}

.wrapper .taskList .task .checkbox.completed svg {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset .2s linear;
  transition: stroke-dashoffset .2s linear;
}

.wrapper .task.completed {
  background: #51ec6b1c;
}

.wrapper .task.completed:hover {
  background: rgba(73, 230, 99, 0.198);
}

.wrapper .task.deleted {
  -webkit-animation: deleted 0.3s linear;
          animation: deleted 0.3s linear;
  background: rgba(255, 71, 71, 0.931);
}

.wrapper .task.deleted:hover {
  background: rgba(255, 71, 71, 0.931);
}

button {
  width: 30%;
  margin: 2% 30%;
  height: 50px;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  border: none;
  background-color: #22a6b3;
  color: white;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media (max-width: 1024px) {
  button {
    margin-left: 32.8%;
  }
}

@media (max-width: 480px) {
  button {
    width: 40%;
    margin-left: 28.8%;
    line-height: 5px;
  }
}

button:hover {
  background-color: #22a7b3e1;
}

button:active {
  background-color: #22a6b3;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.blackBackground {
  opacity: 0;
}

.blackBackground.active {
  opacity: .8;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.74);
  z-index: 3;
}

.blackBackground.active:hover {
  cursor: pointer;
}

.popWindow.active {
  display: block;
  -webkit-animation: pop-fade-in .3s ease;
          animation: pop-fade-in .3s ease;
}

.popWindow {
  opacity: 1;
  display: none;
  width: 40%;
  height: 200px;
  background: white;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-box-shadow: 0px 0px 40px 4px rgba(255, 255, 255, 0.466);
          box-shadow: 0px 0px 40px 4px rgba(255, 255, 255, 0.466);
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .popWindow {
    width: 60%;
    padding-bottom: 10%;
    height: 100px;
  }
}

@media (max-width: 680px) {
  .popWindow {
    width: 80%;
    padding-bottom: 15%;
  }
}

@media (max-width: 480px) {
  .popWindow {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .popWindow {
    width: 95%;
  }
}

.popWindow input {
  font-family: 'Indie Flower', cursive;
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 20px;
  width: 75%;
  margin: 4.7% 12.5% 2%;
  height: 50px;
  font-size: 1.4em;
  text-align: center;
  color: #333333;
}

@media (max-width: 1440px) {
  .popWindow input {
    margin-top: 7.4%;
  }
}

@media (max-width: 768px) {
  .popWindow input {
    margin-top: 7.4%;
  }
}

@media (max-width: 480px) {
  .popWindow input {
    width: 90%;
    margin-left: 4.4%;
  }
}

.popWindow input:focus {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.918);
  -webkit-box-shadow: inset 0 0 8px #7c7c7c54;
          box-shadow: inset 0 0 8px #7c7c7c54;
}

.popWindow input.error {
  -webkit-animation: error 0.3s ease;
          animation: error 0.3s ease;
  border: 1px solid rgba(255, 44, 44, 0.883);
  -webkit-box-shadow: inset 0 0 8px #ff000054;
          box-shadow: inset 0 0 8px #ff000054;
}

.popWindow input.error:focus {
  border: 1px solid rgba(128, 128, 128, 0.918);
}

.popWindow input.error::-webkit-input-placeholder {
  color: rgba(255, 38, 38, 0.616);
}

.popWindow input.error:-ms-input-placeholder {
  color: rgba(255, 38, 38, 0.616);
}

.popWindow input.error::-ms-input-placeholder {
  color: rgba(255, 38, 38, 0.616);
}

.popWindow input.error::placeholder {
  color: rgba(255, 38, 38, 0.616);
}

.popWindow .btns {
  position: relative;
  width: 80%;
  margin: 0% 10%;
  height: 20%;
}

@media (max-width: 1024px) {
  .popWindow .btns {
    margin: 0% 8%;
  }
}

@media (max-width: 480px) {
  .popWindow .btns {
    margin: 0% 9%;
  }
}

.popWindow #addBtn {
  position: absolute;
  left: -5.5%;
  width: 50%;
}

.popWindow #cancelBtn {
  position: absolute;
  left: 46%;
  width: 12%;
  background: none;
  color: tomato;
  border: 1px solid tomato;
  font-size: .8em;
  opacity: .8;
}

@media (max-width: 768px) {
  .popWindow #cancelBtn {
    width: 15%;
  }
}

@media (max-width: 480px) {
  .popWindow #cancelBtn {
    width: 20%;
  }
}

.popWindow #cancelBtn:hover {
  border: none;
  color: white;
  background: tomato;
  opacity: 1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pop-fade-in {
  0% {
    opacity: 0;
    margin-top: 3%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

@keyframes pop-fade-in {
  0% {
    opacity: 0;
    margin-top: 3%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  15% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  30% {
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  45% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  65% {
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  80% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  100% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@keyframes error {
  0% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  15% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  30% {
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  45% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  65% {
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  80% {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  100% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
}

@-webkit-keyframes deleted {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes deleted {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */