@import "include-media.scss";

body{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    color: #333333;
}
.wrapper.hidden{
    display: none;
}
.wrapper{
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    padding: 2% 2% 5%;
    background-color: rgb(251, 251, 251);
    box-shadow: 2px 2px 20px 2px rgba(22, 22, 22, 0.253);
    border-radius: 20px;
    animation: fade-in .3s ease;
    @include media("<=laptopHDPI"){
        padding-bottom: 6.4%;
    }
    @include media("<=desktop"){
        width: 60%;
        padding-bottom: 10%;
    }
   
    @include media("<=largerPhone"){
        width: 80%;
        padding-bottom: 15%;
    }
    @include media("<=middlePhone"){
        padding-bottom: 20%;
        padding-top: 7.4%;
     }
    @include media("<=smallPhone"){
        width: 100%;
        padding-bottom: 25%;
        padding-top: 7.4%;
     }
h1{
    text-align: center;
    margin: 0 0 5%;
}    
.taskList{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    transition: .3s ease;
    @include media("<=middlePhone"){
        width: 100%;
    }
.task
    {
      display: flex;
      opacity: 1;  
      justify-content: flex-start;
      position: relative;
      height: 50px;
      line-height: 12px;
      margin: 5px;
      transition: .3s ease;
      font-size: 1.3em;
      @include media("<=laptopHDPI"){
        line-height: 10px;
    }
    @include media("<=middlePhone"){
       line-height: 12px;
    }
    @include media("<=standardPhone"){
        line-height: 8px;
    }
      &:hover{
          background-color: rgba(170, 169, 169, 0.192);
          cursor: pointer;
      }
      &:last-child{
          margin-bottom: 20px;
      }
    p{
        margin-left: 1%;
        transition: .2s linear;
    }
    p.completed{
        color: #777777;
        text-decoration: line-through;
    }
    .checkbox,
    .rmvBtn
    {
        margin: 3.2%;
        width: 20px;
        height: 20px;
        cursor:pointer;
        border-radius: 3px;
        transform: scale(1);
        transition: .2s ease;
        @include media("<=laptopHDPI"){
            margin: 4%;
        }
        @include media("<=middlePhone"){
            margin:4.5%;
        }
        &:hover{
            transform: scale(1.051);
        }
        &:active{
            transform: scale(.9);
        }
    }
    .rmvBtn{
        position: absolute;
        right: 0%;
        svg{
            margin: -2px 0px 0px -2px;
        }
    }
    .checkbox{
        border: 1px solid black;
        svg{
            stroke:#22b33a;
            stroke-width: 1.8;
            fill:none;
            margin-bottom: -10px;
            stroke-dasharray: 25;
            stroke-dashoffset: 25;
            transition: stroke-dashoffset .2s linear;
        }
    }
    .checkbox.completed{
        svg{ 
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .2s linear;
        }
    }
}}
.task.completed{
    background: #51ec6b1c;
    &:hover{
    background: rgba(73, 230, 99, 0.198);
    }
}
.task.deleted{
    animation: deleted 0.3s linear;
    background: rgba(255, 71, 71, 0.931);
    &:hover{
    background: rgba(255, 71, 71, 0.931);
    }
}
}

button{
    width: 30%;
    margin: 2% 30% ;
    height: 50px;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    border: none;
    background-color: #22a6b3;
    color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transform: scale(1);
    transition: 0.1s ease;
    @include media("<=desktop"){
        margin-left: 32.8%;
    }
    @include media("<=middlePhone"){
        width: 40%;
        margin-left: 28.8%;
        line-height: 5px;
     }
    
    &:hover{
        background-color: #22a7b3e1;
    }
    &:active{
        background-color: #22a6b3;
        transform: scale(.95);
    }
    &:focus{
        outline: none;
    }
}
button::-moz-focus-inner {
    border: 0;
  }
.blackBackground{
    opacity: 0;
}
.blackBackground.active{
    opacity: .8;
    transition: .2s ease;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.74);
    z-index: 3; 
    &:hover{
        cursor:pointer;
    }   
}
.popWindow.active{
    display: block;
    animation: pop-fade-in .3s ease; 
}
.popWindow{
    opacity: 1;
    display: none; 
    width: 40%;
    height: 200px;
    background: white;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .2s ease;
    box-shadow: 0px 0px 40px 4px rgba(255, 255, 255, 0.466);
    border-radius: 20px;
    @include media("<=desktop"){
        width: 60%;
        padding-bottom: 10%;
        height: 100px;
    }
    @include media("<=largerPhone"){
        width: 80%;
        padding-bottom: 15%;
    }
    @include media("<=middlePhone"){
        width: 90%;
     }
     @include media("<=smallPhone"){
        width: 95%;
     }
    input{
        font-family: 'Indie Flower', cursive;
        border: 1px solid rgba(128, 128, 128, 0.65);
        border-radius: 20px;
        width: 75%;
        margin: 4.7% 12.5% 2%;
        height: 50px;
        font-size: 1.4em;
        text-align: center;
        color: #333333;
        @include media("<=laptopHDPI"){
            margin-top: 7.4%;
           }
        @include media("<=tablet"){
            margin-top: 7.4%;
           }
           @include media("<=middlePhone"){
            width: 90%;
            margin-left: 4.4%;
         }
        &:focus{
            outline:none;
            border: 1px solid rgba(128, 128, 128, 0.918);
            box-shadow: inset 0 0 8px #7c7c7c54;
        }
    }
    input.error{
            animation: error 0.3s ease;
            border: 1px solid rgba(255, 44, 44, 0.883);
            box-shadow: inset 0 0 8px #ff000054;
            &:focus{
                border: 1px solid rgba(128, 128, 128, 0.918);
            } 
           &::placeholder{
            color: rgba(255, 38, 38, 0.616);
           }
    }
    .btns{
        position: relative;
        width: 80%;
        margin: 0% 10%;
        height: 20%;
        @include media("<=desktop"){
            margin: 0% 8%; 
           }
        @include media("<=middlePhone"){
            margin: 0% 9%;
         }
    }
    #addBtn{
        position: absolute;
        left: -5.5%;
        width: 50%;
    }
    #cancelBtn{
        position: absolute;
        left: 46%;
        width: 12%;
        background: none;
        color: tomato;
        border: 1px solid tomato;
        font-size: .8em;
        opacity: .8;
        @include media("<=tablet"){
         width: 15%; 
        }
        @include media("<=middlePhone"){
            width: 20%;
         }
       
        &:hover{
            border: none;
            color: white;
            background: tomato;
            opacity: 1;
        }    
    }
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes pop-fade-in{
    0%{
        opacity: 0;
        margin-top: 3%;
    }
    100%{
        opacity: 1;
        margin-top: 0%;
    }

}
@keyframes error{
    0%{
        transform: skewY(0deg);
    }
    15%{
        transform: skewY(2deg);
    }
    30%{
        transform: skewY(-2deg);
    }
    45%{
        transform: skewY(2deg);
    }
    65%{
        transform: skewY(-2deg);
    }
    80%{
        transform: skewY(2deg);
    }
    100%{
        transform: skewY(0deg);
    }
}
@keyframes deleted{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}