body{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    padding: 2% 2% 4%;
    background-color: rgb(251, 251, 251);
    box-shadow: 2px 2px 20px 2px rgba(22, 22, 22, 0.253);
h1{
    text-align: center;
    margin: 0 0 5%;
}    
.taskList{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
.task
    {
      display: flex;
      justify-content: flex-start;
      position: relative;
      height: 50px;
      line-height: 12px;
      margin: 5px;
      font-size: 1.3em;
      &:hover{
          background-color: rgba(170, 169, 169, 0.192);
          cursor: pointer;
      }
      &:last-child{
          margin-bottom: 20px;
      }
    p{
        margin-left: 3%;
    }  
    .checkbox,
    .rmvBtn
    {
        margin: 2.6%;
        width: 20px;
        height: 20px;
        cursor:pointer;
        border-radius: 50%;
        transform: scale(1);
        transition: .2s ease;
        &:hover{
            transform: scale(1.051);
        }
    }
    .rmvBtn{
        // background-color: #eb4d4b;
        position: absolute;
        right: 0%;
    }
    .checkbox{
        border: 1px solid black;
        
    }
    }
   
   
    }
    button{
        width: 30%;
        margin: 2% 30%;
        height: 50px;
        font-size: 1.3em;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        border: none;
        background-color: #22a6b3;
        color: white;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
    }
}