body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 4% auto;
    background: rgb(255, 159, 143);
    width: 30%;
    padding: 2% 2% 4%;
    position: relative;
h1{
    text-align: center;
    margin: 0 0 5%;
}    
.taskList{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
.task
    {
      display: flex;
      justify-content: flex-start;
      position: relative;
      height: 50px;
      line-height: 5px;
      margin: 5px;
      font-size: 1.3em;
      border: 1px solid black;
    .checkbox{
        margin: 2.6%;
        width: 20px;
        height: 20px;
        background-color: green;
    }
    .rmvBtn{
        margin: 2.6%;
        width: 20px;
        height: 20px;
        background-color: red;
        position: absolute;
        right: 0%;
        border-radius: 50%;
    }

      }
   
    }
    button{
        width: 60%;
        margin: 2% 15% 0%;
        height: 50px;
        position: absolute;
        
    }
}